{% extends "layout.html" %}
{% block body %}

{% if session.username %}

<h5>Pairwise Attribute Curator (<b>{{ username }}</b>)</h5>

{% if all_pairs_curated > 0 %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
			<p>So far you have made decisions on <b>{{ all_pairs_curated }}</b> attributes. You suggested merging <b>{{ TOTAL_MERGE }}/{{ all_pairs_curated }}</b> attributes and decided not to merge <b>{{ SUGGESTED_NOMERGE_decisions }}/{{ all_pairs_curated }}</b> attributes.</p>
		</div>
		<div class="col-md-3 text-center row">
				<form action="{{ url_for('attribute_curator_home', pair_id=pair_id, username=username) }}" method="POST">
			    	<input class="btn btn-primary btn-lg text-center" id="start_button" type="submit" name="initial" value="Continue Curating">

						

		</div>

		<div class="col-md-3 text-center row">
			<button type="button" class="btn btn-default btn-sm text-center" id="settings">
				  <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
			</button>


			<div class="col-xs-12">
				<div id="panel1" class="panel panel-primary" style="display:none">
					<div class="panel-heading">
					</div>
					<div class="panel-body">



							{% if sort_type == 'smart' %}
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
							  <label class="btn btn-secondary active">
							    <input type="radio" name="sort" id="option1" value="smart" autocomplete="off" > Smart Sorting
							  </label>
							  <label class="btn btn-secondary">
							    <input type="radio" name="sort" id="option2" value="max" autocomplete="off" > Max Sample Impact
							  </label>
							  <label class="btn btn-secondary" >
							    <input type="radio" name="sort" id="option3" value="major" autocomplete="off" > Major Attributes
							  </label>
							</div>
							{% elif sort_type == 'max' %}
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
							  <label class="btn btn-secondary ">
							    <input type="radio" name="sort" id="option1" value="smart" autocomplete="off" > Smart Sorting
							  </label>
							  <label class="btn btn-secondary active" >
							    <input type="radio" name="sort" id="option2" value="max" autocomplete="off" > Max Sample Impact
							  </label>
							  <label class="btn btn-secondary" >
							    <input type="radio" name="sort" id="option3" value="major" autocomplete="off" > Major Attributes
							  </label>
							</div>

							{% elif sort_type == 'major' %}
							<div class="btn-group btn-group-toggle" data-toggle="buttons">
							  <label class="btn btn-secondary ">
							    <input type="radio" name="sort" id="option1" value="smart" autocomplete="off" > Smart Sorting
							  </label>
							  <label class="btn btn-secondary" >
							    <input type="radio" name="sort" id="option2" value="max" autocomplete="off" > Max Sample Impact
							  </label>
							  <label class="btn btn-secondary active" >
							    <input type="radio" name="sort" id="option3" value="major" autocomplete="off" > Major Attributes
							  </label>
							</div>


							{% endif %}
							
							<div> Omit 'vioscreen' attributes?
							{% if vioscreen_stop == 'Yes' %}

							<div class="btn-group btn-group-toggle" data-toggle="buttons">
							  <label class="btn btn-secondary active">
							    <input type="radio" name="vioscreen_stop" id="option1" value="Yes" autocomplete="off" > Yes
							  </label>
							  <label class="btn btn-secondary">
							    <input type="radio" name="vioscreen_stop" id="option2" value="No" autocomplete="off" > 
							    No
							  </label>
							</div>

							{% else %}

							<div class="btn-group btn-group-toggle" data-toggle="buttons">
							  <label class="btn btn-secondary">
							    <input type="radio" name="vioscreen_stop" id="option1" value="Yes" autocomplete="off" > Yes
							  </label>
							  <label class="btn btn-secondary active">
							    <input type="radio" name="vioscreen_stop" id="option2" value="No" autocomplete="off" > 
							    No
							  </label>
							</div>

							{% endif %}

							<div>
							<input class="btn btn-danger btn-sm btn-block" id="wipe" type="submit" name="wipeData" value="Wipe ALL curations">
							</div>


							</form>


					
					</div>

				</div>
			</div>
		</div>	
	</div>
</div>

{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
			<p>Welcome to the Pairwise Attribute Curator. As you make suggestions you can check back here to see your progress.</p>
			<p>If you are interested in curation of a particular domain or specialism please follow the 'Specialist Curation' link to fill out details to help Curami point you to curations in your area of expertise. Alternatively, you can begin curation of the whole BioSamples database by following the 'Begin Curating' button. </p>
		</div>
		<div class="col-md-6 text-center">
			<div class="col-xs-12">
				<form action="{{ url_for('attribute_curator_home', pair_id=pair_id, username=username) }}" method="POST">
		    		<input class="btn btn-primary btn-lg text-center" id="start_button" type="submit" name="initial" value="Begin Curating">
				</form>
			</div>
			{% if specialism_attributes == false %}

			<div class="col-xs-12">
				<form action="{{ url_for('specialist_curator', username=username) }}" method="GET">
		    		<input class="btn btn-primary btn-lg text-center" id="start_button" type="submit" name="initial" value="Specialist Curation">
				</form>
			</div>

			{% else %}

			<div class="col-xs-12">
				<form action="{{ url_for('specialist_curator', username=username) }}" method="GET">
		    		<input class="btn btn-warning btn-sm text-center" id="start_button" type="submit" name="initial" value="Reset Specialism Attributes">
				</form>
			</div>

			{% endif %}


				
		</div>
	</div>
</div>
{% endif %}





<script>
$(document).ready(function() {

$('#settings').on('click', function() {
	$('#panel1').toggle();
});

$('#wipe').click(function() {
    return window.confirm("Are you sure? All of your curations will be removed!");
});

})
</script>






  {% endif %}
{% endblock %}